@font-face {
    font-family: "PingFang";
    src: url("./assets/ttf/pingfang.ttf");
}

body {
	margin: 0;
    font-family: "PingFang";
}

.body {
	background-image: url("./assets/images/background.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* Added to fix the background image */
}

.NavigationBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    height: auto;
    width: 97%;
    background-color: #575757;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 40px;
    overflow: hidden;
}

.NavigationBar h4 {
    margin: 14px 0 11px 20px; /* Adjusted top margin to move the element down */
    color: white;
    font-size: 20px;
    float: left;
}

.NavigationBar ul.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    float: right;
}

.NavigationBar li {
    margin-left: 20px;
}

.NavigationBar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.NavigationBar a:hover {
    background-color: #474747;
}

.Introduction {
    text-align: center;
    margin: auto;
    height: 500px;
    width: 80%;
    padding: 20px;
    backdrop-filter: blur(16px);
    border-radius: 24px;
    background-color: transparent;
    margin-top: 100px;
}

.Introduction h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.content-section {
	margin: auto;
	width: 80%;
	border-radius: 24px;
	background-color: transparent;
	backdrop-filter: blur(16px);
    padding: 20px;
    text-align: center;
    margin-top: 60px; /* 留出空间以避免与导航栏重叠 */
}

.content-section h2 {
	color: white;
}

.content-section p {
	color: white;
}

.Open, .untitled-0, .untitled-1 {
    background-color: transparent;
    border-radius: 24px;
    backdrop-filter: blur(16px);
    margin: 5% 9%;
}

.Open, .untitled-0, .untitled-1 p {
    color: white;
    text-align: center;
}

.advantage {
    display: flex;
    justify-content: space-between;
}

.Open, .untitled-0, .untitled-1 {
    flex: 1;
}